.inputContainer {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-400);
  margin-bottom: var(--space-100);
}

.input {
  min-height: 3em;
  border: var(--border-input);
  border-radius: var(--border-radius-input);
  padding: var(--space-200) var(--space-300);
  margin-bottom: var(--space-200);
  font-size: var(--font-size-200);
}
