@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family-default);
  font-size: 100%;
  color: var(--color-text-default);
  font-weight: var(--font-weight-normal);
}
